// Circle colors
$primary-color-1: #ffc12d;
$primary-color-2: #a7ec2f;
$primary-color-3: #feb1a4;
$primary-color-4: #85ebfa;
$primary-color-5: #aacdf6;

// Border colors
$primary-border-cl-1: #c89210;
$primary-border-cl-2: #7bc200;
$primary-border-cl-3: #f55c43;
$primary-border-cl-4: #47b4f6;
$primary-border-cl-5: #8781bd;

// Icon colors
$primary-icon-cl-1: #a47503;
$primary-icon-cl-2: #558502;
$primary-icon-cl-3: #d52e13;
$primary-icon-cl-4: #0787d4;
$primary-icon-cl-5: #5b568e;
