@mixin circles($primary-color: black) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
}

@mixin divs($primary-color: black) {
  border: 1px solid #e2e6e7;
  position: relative;
  border-radius: 10px;
  padding: 40px 0 0 50px;
  display: flex;
  background-color: $primary-color;
}

@mixin border($primary-border-cl: black) {
  border: 7px solid $primary-border-cl;
}

@mixin icons($primary-icon-cl: black) {
  font-size: 24px;
  line-height: 26px;
  color: $primary-icon-cl;
}

@mixin fonts-and-sizes($font-family, $font-size, $color) {
  font-family: $font-family, sans-serif;
  font-size: $font-size;
  color: $color;
}
