// Circle colors
$primary-color-1: #ffc12d;
$primary-color-2: #97e411;
$primary-color-3: #fd7761;
$primary-color-4: #6fd9fc;
$primary-color-5: #a39cdc;

// Border colors
$primary-border-cl-1: #f9b718;
$primary-border-cl-2: #7bc200;
$primary-border-cl-3: #f55c43;
$primary-border-cl-4: #47b4f6;
$primary-border-cl-5: #8781bd;

// Icon colors
$primary-icon-cl-1: #a47503;
$primary-icon-cl-2: #558502;
$primary-icon-cl-3: #d52e13;
$primary-icon-cl-4: #0787d4;
$primary-icon-cl-5: #5b568e;
